<div class="page-body links-page">
  <div class="page-box">
    <h1>Links</h1>
    <div class="page-content links-content body-text">
      <% 
         categories_in_column_1 = (@link_categories.count / 2) + 1
         categories_in_column_2 = @link_categories.count - categories_in_column_1
      %>
      <div class="column-1">
        <% @link_categories.first(categories_in_column_1).each do |category| %>
          <h3><%= category.name %></h3>
          <% if category.description %>
            <h4><%= category.description %></h4>
          <% end %>
          <% sort_by_link_name(category.hyperlinks).each do |link| %>
            <p> <a target="_blank" href="<%= link.url %>"><%= link.name %></a></p>
          <% end %>
        <% end %>
      </div>

      <div class="column-2">
        <% @link_categories.last(categories_in_column_2).each do |category| %>
          <h3><%= category.name %></h3>
          <% if category.description %>
            <h4><%= category.description %></h4>
          <% end %>
          <% sort_by_link_name(category.hyperlinks).each do |link| %>
            <p> <a target="_blank" href="<%= link.url %>"><%= link.name %></a></p>
          <% end %>
        <% end %>
        </div>
      </div>
  </div>
</div>
