<div class="landing-page-body" style="background-image: url(<%= random_background_image %>)">
  <div class="headline-box">Choose a date to see what happened in music and history</div>


  <div class="date-picker-section">
    <%= form_for @date_select, class: 'date-picker' do |f| %>
      <div class="date-select date-select-start">
        <%= f.select(:start_month, month_options, {}, {class: "month-picker-1"}) %>
        <%= f.select(:start_day, day_options) %>
        <%= f.text_field :start_year, placeholder: "Year" %>
      </div>
      <button class="date-select" id="toggle-button">select date range</button>
      <%= f.check_box :date_range, id: "date-range-checkbox" %>

      <div class="date-select" id="date-select-end">
        <%= f.select(:end_month, month_options) %>
        <%= f.select(:end_day, day_options) %>
        <%= f.text_field :end_year, placeholder: "Year" %>
      </div>

      <div class="field" class="date-select">
        <%= f.submit "go", class: "date-select-button" %>
      </div>
    <% end %>

    <% if @date_select.errors.any? %>
      <% @date_select.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    <% end %>

  </div>
</div>
