<div class="single-event">
  
  <div class="event-icon">
    <%= image_tag(event_icon_for_category(event.category.name)) %>
  </div>
  
  <div class="event-body">
    
    <div class="event-description">
      <span class="date-in-event"><%= single_event_date(event.date, type) %></span>
      <span><%= event.description.html_safe %></span>
    </div><!-- end event desc.  -->

    <div class= "event-picture-and-caption">
      <% if event.image && (event.image.url != "none") %>
        <div class="event-picture"><%= image_tag(event.image) %></div>
        <div class="event-picture-caption"><%= event.caption %></div>
      <% end %>
    </div><!-- end event picture and caption -->
 
  </div><!-- end event body -->

</div><!-- end single event -->
