<div class="landing-page-body" style="background-image: url(<%= random_background_image %>)">

    <div class="headline-box">Choose a date to see what happened in music and history</div>

  <div class="date-picker-section">
  <%= form_tag events_path, method: 'get', class: 'date-picker' do %>
    <%= date_field_tag 'start_date', nil, class: 'date-select' %>
    <%= date_field_tag 'end_date', nil, class: 'date-select' %>
    <%= submit_tag 'go', class: "date-select-button" %>
  <% end %>
  </div>

</div>
