<header>
  <a name="page_top"</a>


      <!-- <div class="search-icon"><%= link_to image_tag("search-icon.png"), root_path %></div> -->

 <form class="seach-box">
      

      <input class="search" type="text" placeholder="search" required>
    </form>
 
  <div class="logo-row">
    <div class="page-logo">
      <%= link_to image_tag("logo.png"), root_path %>
    </div>
    
  </div>

  <div class="page-tagline">
    A CHRONOLOGICAL VIEW OF WESTERN MUSIC HISTORY IN THE CONTEXT OF WORLD EVENTS
  </div>


    <nav>
      <ul>
        <li><%= link_to "home", root_path %></li>
        <li><%= link_to "about", pages_about_path %></li>
        <li><%= link_to "composers", composers_path %></li>
        <li><%= link_to "contact", pages_contact_path %></li>
        <li><%= link_to "links", pages_links_path %></li>
        <li><%= link_to "resources", pages_resources_path %></li>
    </nav>
</header>
