<div class="header">
  <nav>
    <ul>
      <li><%= link_to "home", root_path %></li>
      <li><%= link_to "about", pages_about_path %></li>
      <li><%= link_to "composers", pages_composers_path %></li>
      <li><%= link_to "contact", pages_contact_path %></li>
      <li><%= link_to "links", pages_links_path %></li>
      <li><%= link_to "resources", pages_resources_path %></li>
  </nav>
</div>
