<div class="header">
  <%= link_to image_tag("/assets/example-logo.png", height: 105, width: 210), root_path %>
  <nav>
    <ul>
      <li><%= link_to "home", root_path %></li>
      <li><%= link_to "about", pages_about_path %></li>
      <li><%= link_to "composers", composers_path %></li>
      <li><%= link_to "contact", pages_contact_path %></li>
      <li><%= link_to "links", pages_links_path %></li>
      <li><%= link_to "resources", pages_resources_path %></li>
  </nav>
</div>
