<!DOCTYPE html>
<html>
<head>
  <title>Music and History</title>

  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-83049719-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <% if signed_in? %>
    <div class="signed-in-bar">
    You are logged in as: <span class="signed-in-email-address"><%= current_user.email %></span>
    <div class="signed-in-bar-buttons"><%= button_to "Edit site", admin_root_path, method: :get, form: {target: '_blank', class: "admin-button"} %>
    <%= button_to "Sign out", sign_out_path, method: :delete, form: {class: "admin-button"} %></div>
    </div>
  <% end %>

  <%= render "common/header" %>
  <%= yield %>
  <%= render "common/footer" %>
</body>
</html>
